.navbar{
    padding: 10px;
    background-color: teal;
    color:white;
    text-align: center;
    opacity: 50%;
}
.navbar-brand{
    padding: 20px;
    font-size: 2rem; 
    color:white;


}
.navbar-brand:hover{
    color:rgb(0, 0, 0);
}
.nav-item{
    color: white;
    padding: 5px;
}
.nav-item:hover{
    color:rgb(0, 0, 0);   
}