.grid{
    display: grid;
    grid-template-columns: 1fr;
    //grid-template-rows: auto auto;
    
    @media (min-width:768px) {
        grid-template-columns: 2fr 1fr;
        //grid-template-rows: auto;
        
    }
    &__img,&__aside{
        padding: 40px;
    }

}